#featured-section {
    display: flex;
    flex-direction: column;
}

.featured-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.featured-header > * {
    flex: 1;
}

.featured-title {
    display: flex;
    flex-direction: column;
}

.featured-pretitle {
    display: flex;
    flex-direction: row;
}

#horizontal-line {
    width: 40px;
    height: 1px;
    background-color: var(--gilded-gold);
    margin: auto 10px;
}

#pretitle-featured {
    color: var(--gilded-gold);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;

}

.featured-description-container {
    margin-top: 2rem;
}

#featured-intro {
    font-size: 1.1rem;
    color: var(--text);
    margin-bottom: 1rem;

}

.featured-description {
    font-size: 1rem;
    color: var(--text);
}

.featured-description:first-child {
    margin-bottom: 10rem;
}

@media (max-width: 1024px) {
    .featured-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .featured-pretitle {
        flex-direction: column;
        align-items: center;
    }

    #horizontal-line {
        display: none;
    }

    #title-featured {
        font-size: 3rem;
    }

    .featured-description-container {
        text-align: left;
        margin-top: 1rem;
    }
}