<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>

<!-- fonts -->
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baskervville+SC:wght@400..700&display=swap" rel="stylesheet">

<!-- icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- styles -->
<!-- general styles -->
<link rel="stylesheet" href="/styles/styles.css">

<!-- partial styles -->
<link rel="stylesheet" href="/styles/partials/socials.css">
<link rel="stylesheet" href="/styles/partials/email.css">

<!-- menu styles -->
<link rel="stylesheet" href="/styles/menus/topNav.css">
<link rel="stylesheet" href="/styles/menus/sideNav.css">

<!-- section styles -->
<link rel="stylesheet" href="/styles/sections/about.css">
<link rel="stylesheet" href="/styles/sections/featured.css">