<div id="about-section">
    <div class="card attributes">
        <div class="attribute-header">
            <div class="heading">
                <p>Character Sheet</p>
                <h3>Build Overview</h3>
            </div>
            <div class="info">
                <p id="position">YR 3 SOFTWARE ENG</p>
                <p id="alignment">Neutral Logical</p>
            </div>
        </div>
        <div class="custom-line"></div>
        <div class="sub-card features">
            <div class="feature">
                <p class="feature-title">Engineer</p>
                <p class="feature-subtitle">Class</p> 
            </div>
            <div class="feature">
                <p class="feature-title">Backend</p>
                <p class="feature-subtitle">Subclass</p>
            </div>
            <div class="feature">
                <p class="feature-title">Waikato</p>
                <p class="feature-subtitle">Guild</p>
            </div>
        </div>
        <div class="custom-line">
            <p>CORE ATTRIBUTES</p>
        </div>
        <div class="stats">
            <div class="sub-card stat">
                <p class="stat-type">INT</p>
                <p class="stat-value">Analytical</p>
                <p class="stat-detail">Breaks Problems Down</p>
            </div>
            <div class="sub-card stat">
                <p class="stat-type">WIS</p>
                <p class="stat-value">Developing</p>
                <p class="stat-detail">To design scalable, maintainable systems</p>
            </div>
            <div class="sub-card stat">
                <p class="stat-type">CON</p>
                <p class="stat-value">Persistent</p>
                <p class="stat-detail">Maintains focus and effort over time</p>
            </div>
            <div class="sub-card stat">
                <p class="stat-type">DEX</p>
                <p class="stat-value">Agile</p>
                <p class="stat-detail">Picks up new skills quickly</p>
            </div>
            <div class="sub-card stat">
                <p class="stat-type">CHA</p>
                <p class="stat-value">Clear</p>
                <p class="stat-detail">Communicates effectively</p>
            </div>
            <div class="sub-card stat">
                <p class="stat-type">STR</p>
                <p class="stat-value">Reliable</p>
                <p class="stat-detail">Turns plans into working systems</p>
            </div>
        </div>
        <div class="custom-line">
            <p>SKILLS</p>
        </div>
        <div class="skills">
            <div class="skill">
                <div class="icon-container">

                </div>
                <div class="skill-info">
                    <p>Networked Systems</p>
                    <p>TCP/IP, HTTP, SOCKETS</p>
                </div>
                <div class="badge">
                    <p>Primary Focus</p>
                </div>
            </div>
            <div class="skill">
                <div class="icon-container">

                </div>
                <div class="skill-info">
                    <p>API Architecture</p>
                    <p>REST design, Request Flows</p>
                </div>
                <div class="badge">
                    <p>In Practice</p>
                </div>
            </div>
            <div class="skill">
                <div class="icon-container">

                </div>
                <div class="skill-info">
                    <p>Data Modelling</p>
                    <p>Database Design, Indexing</p>
                </div>
                <div class="badge">
                    <p>In Practice</p>
                </div>
            </div>
            <div class="skill">
                <div class="icon-container">

                </div>
                <div class="skill-info">
                    <p>Docker</p>
                    <p>Containerisation, Deployment</p>
                </div>
                <div class="badge">
                    <p>Learning</p>
                </div>
                <div class="skill-info">
                    <p>Design</p>
                    <p>Frontend Design, UX/UI</p>
                </div>
            </div>
        </div>
        <div class="custom-line"></div>
        <div class="quest">
            <p>Graduate in first class honours & break into industry</p>
            <p>Build my portfolio</p>
        </div>
    </div>
    <div class="overview">
        <p id="pretitle-text">open to side quests</p>
        <h1>
            Damion <span>Sklenars-Clare</span>
        </h1>
        <p>
            I'm a <span class="highlighted-text">thid-year Software Engineering student</span> at the University of Waikato, working towards a Bachelor
            of Software Engineering with Honours. I'm particularly passionate about backend development and networking.
            <br><br>
            I enjoy designing and implementing efficient solutions and understanding how data moves through systems at scale. Whether it's building APIs,
            optimizing databases, or working with networked applications, I'm always eager to solve the challenges that come with backend development.
            <br><br>
            All with the goal to create software that's robust, scalable, and maintainable.
        </p>
        <div class="button-container">
            <a href="#quest-log" class="button" id="projects-button">Begin Quest</a>
            <a class="button" id="cv-button">View Spellbook</a>
        </div>
    </div>
</div>