<div id="about-section">
    <div class="card attributes">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, dolor consectetur. Reprehenderit maiores exercitationem voluptatibus minus corrupti accusantium nisi neque deleniti, perferendis molestias explicabo beatae officiis numquam, officia cum totam similique recusandae sint expedita? Explicabo velit delectus earum laborum sit minus, deleniti, porro in ea doloremque suscipit tempore at. Recusandae.</p>
    </div>
    <div class="overview">
        <p id="pretitle-text">open to side quests</p>
        <h1>
            Damion <span>Sklenars-Clare</span>
        </h1>
        <p>
            I'm a <span class="highlighted-text">thid-year Software Engineering student</span> at the University of Waikato, working towards a Bachelor
            of Software Engineering with Honours. I'm particularly passionate about backend development and networking.
            <br><br>
            I enjoy designing and implementing efficient solutions and understanding how data moves through systems at scale. Whether it's building APIs,
            optimizing databases, or working with networked applications, I'm always eager to solve the challenges that come with backend development.
            <br><br>
            All with the goal to create software that's robust, scalable, and maintainable.
        </p>
        <div class="button-container">
            <a href="#quest-log" class="button" id="projects-button">Begin Quest</a>
            <a class="button" id="cv-button">View Spellbook</a>
        </div>
    </div>
</div>