<div class="section" id="previous-campaigns">
    <div class="section-header">
        <div class="section-title">    
            <div class="section-pretitle">
                <div class="horizontal-line"></div>    
                <p class="pretitle-section">Work Experience</p>
            </div>
            <h1 class="title title-section">Campaign <span>History</span></h1>
        </div>
        <div class="section-description-container">
            <p class="section-intro">
                A chronicle of my past campaigns
            </p>
            <p class="section-description">
                From early roles to recent endeavors, this chronicle captures the essence of my professional journey.
                Each campaign represents a chapter in my career, showcasing the challenges faced, skills honed, and milestones achieved along the way.
            </p>
        </div>
    </div>

</div>