<div class="section" id="featured-section">
    <div class="section-header">
        <div class="section-title">    
            <div class="section-pretitle">
                <div class="horizontal-line"></div>    
                <p class="pretitle-section">Quest log</p>
            </div>
            <h1 class="title title-section">Featured <span>Expeditions</span></h1>
        </div>
        <div class="section-description-container">
            <p class="section-intro">
                An archive of my work - past, present, and future.
            </p>
            <p class="section-description">
                Within this archive lie the records of my featured expeditions - completed quests, 
                ongoing adventures, and ventures on the horizon. 
            </p>
        </div>
    </div>
    <div class="featured-projects">
        <div class="carousel" id="carousel"></div>
        <div class="carousel-dots" id="carousel-dots"></div>
    </div>
</div> 