<div class="section" id="featured-section">
    <div class="featured-header">
        <div class="featured-title">    
            <div class="featured-pretitle">
                <div class="horizontal-line"></div>    
                <p id="pretitle-featured">Quest log</p>
            </div>
            <h1 class="title" id="title-featured">Featured <span>Expeditions</span></h1>
        </div>
        <div class="featured-description-container">
            <p id="featured-intro">
                An archive of my work - past, present, and future.
            </p>
            <p class="featured-description">
                Within this archive lie the records of my featured expeditions - completed quests, 
                ongoing adventures, and ventures on the horizon. 
            </p>
            <p class="featured-description">
                Each expedition carries a story of challenges faced, lessons learned, and milestones achieved.
            </p>
        </div>
    </div>
    <div class="featured-projects">
        <div class="card project-container" id="sheetsync">
            <div class="project-image-container">
                <img src="/assets/featured/sheetsync.png" alt="SheetSync project image" class="project-image">
                <div class="project-title">
                    <h2>SheetSync</h2>
                    <div class="project-type">
                        <div class="horizontal-line"></div> 
                        <p>Web Application</p>
                    </div>
                </div>
                <div class="project-stage">
                    <p>In Development</p>
                </div>
                <div class="project-version">
                    <p>Yet to be released</p>
                </div>
            </div>
            <div class="project-overview">
                <div class="project-description">
                    <div class="project-description-section">
                        <h3>DESCRIPTION</h3>
                        <p>
                            SheetSync is a web application designed to centralise and synchronise TTRPG character sheets.
                            It allows players and dungeons masters to create, update, and access sheets in real-time, 
                            improving clarity, and collaboration during gameplay.
                        </p>
                    </div>
                    <div class="project-stack-section">
                        <h3>STACK</h3>
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>Node.js</li>
                            <li>Express</li>
                            <li>PostgreSQL</li>
                            <li>Redis</li>
                            <li>Docker</li>
                        </ul>
                    </div>
                </div>
                <div class="button-container">
                    <a href="" class="visit-site featured-button">
                        <span>
                            <svg 
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-globe-icon lucide-globe">
                                <circle cx="12" cy="12" r="10"/>
                                <path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"/>
                                <path d="M2 12h20"/>
                            </svg>
                        </span>
                        Visit Site
                    </a>
                    <a href="" class="view-code featured-button">
                        <span>
                            <svg 
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-code-icon lucide-code">
                                <path d="m16 18 6-6-6-6"/>
                                <path d="m8 6-6 6 6 6"/>
                            </svg>
                        </span>
                        View Code
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> 