<div class="section" id="featured-section">
    <div class="featured-header">
        <div class="featured-title">    
            <div class="featured-pretitle">
                <div id="horizontal-line"></div>    
                <p id="pretitle-featured">Quest log</p>
            </div>
            <h1 class="title" id="title-featured">Featured <span>Expeditions</span></h1>
        </div>
        <div class="featured-description-container">
            <p id="featured-intro">
                An archive of my work - past, present, and future.
            </p>
            <p class="featured-description">
                Within this archive lie the records of my featured expeditions - completed quests, 
                ongoing adventures, and ventures on the horizon. 
            </p>
            <p class="featured-description">
                Each expedition carries a story of challenges faced, lessons learned, and milestones achieved.
            </p>
        </div>
    </div>
    <div class="featured-projects">
        <div class="project" id="sheetsync">
        </div>
    </div>
</div> 