<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head', { title: 'Home' }) %>
    </head>
    <body>
        <%- include('./partials/background') %>
        <div class="main-layout">
            <%- include('./menus/topNav') %>
        </div>
    </body>
</html>