<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head', { title: 'Noimad Portfolio' }) %>
    </head>
    <body>
        <%- include('./partials/background') %>
        <div class="main-layout">
            <%- include('./menus/topNav') %>

            <div class="content">
                <%- include('./sections/about') %>

            </div>
        </div>
    </body>
</html>